:host {
	::ng-deep {
		.kt-loading-bar {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;

			.progress-bar {
				// brand color
				background-color: #5d78ff;
			}
		}

		.kt-header__topbar-item {
			height: 100%;
		}

		@media (min-width: 1025px) {
			.kt-header__topbar, .kt-header__topbar-item-wrapper {
				height: 100%;
			}
		}
	}
}

.sumax-header{
	height: 50px!important;
	background-image: url("../../../../assets/media/bg/bg-7.jpg");
}

// @media (min-width: 1000px){
// 	.kt-header.kt-header--fixed {
// 		position: fixed;
// 		top: 0;
// 		right: 0;
// 		left: 0;
// 		z-index: 97;
// 	}
// 	.kt-header-base-light .kt-header {
// 		background-color: #ffffff;
// 		border-bottom: 1px solid #eff0f6;
// 	}
// }