:host {
	width: 100%;

	.kt-header-menu-wrapper {
		height: 100%;
	}
}

.sumax-subheader{
	top: 0!important;
	z-index: 0!important;
	width: 80%;
	min-height: 50px!important;
	height: 50px!important;
	box-shadow: 0 0 0 0!important;
}

.sumax-subtitle{
	margin: auto 0!important;
}
