<div class="kt-form container-fluid">
    <div class="row border-top pt-4">
        <div class="col-lg-6 col-md-6 col-sm-6 px-3">
            <div class="row py-1">
                <h5 class="">Ingrese observaciones:</h5>
            </div>
            <div class="row py-1">
                <div class="form-group col-xl-11 col-lg-12 col-md-12 col-sm-12 d-flex flex-column mb-0 pr-2 pl-0">
                    <textarea class="form-control" rows="10" placeholder="Observaciones"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 p-1">
            <h5 class="mt-2">Listado de referencias:</h5>
            <div class="row py-1">
                <div class="form-group col-xl-11 col-lg-12 col-md-12 col-sm-12 d-flex flex-column mb-0 pr-2 pl-0">
                    <input type="text" class="form-control form-control-sm mb-1" placeholder="Referencia">
                    <input type="text" class="form-control form-control-sm mb-1" placeholder="Referencia">
                    <input type="text" class="form-control form-control-sm mb-1" placeholder="Referencia">
                    <input type="text" class="form-control form-control-sm mb-1" placeholder="Referencia">
                    <input type="text" class="form-control form-control-sm mb-1" placeholder="Referencia">
                    <input type="text" class="form-control form-control-sm mb-1" placeholder="Referencia">
                </div>
            </div>
        </div>
    </div>
</div>
