.sumax-header-title{
	top: 0!important;
	z-index: 0!important;
	width: 80%;
	min-height: 49px!important;
	height: 49px!important;
	box-shadow: 0 0 0 0!important;
	background-color: transparent!important;
}

.sumax-subtitle{
	margin: auto 0!important;
}

.sumax-titulo{
	color: white!important;
	margin-right: 10px;
}

// @media(max-width: 1024px){
// 	.kt-subheader__main{
// 		flex-wrap: nowrap;
// 	}
// 	.kt-subheader__title{
// 		padding: 3px!important;
// 	}
// }
